@font-face {
  font-family: principal;
  src: url(../Fonts/2885-font.ttf);
}

*{
  margin: 0;
  padding: 0;
} 

header {
    background-color: #000000;
    padding: 0.3%;
    position: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100%;
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  ul.navbar {
    list-style-type: none;
    margin: 0;
    position: center;
    padding-right: 1%;
    display: flex;
  }
  
  ul.navbar li {
    position: 0;
  }
  
  ul.navbar li a {
    position: justify;
    display: block;
    color: rgb(205, 205, 205);
    text-align: center;
    padding: 10;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  ul.navbar li:hover a {
    color: rgb(155, 0, 0);
  }
  
  button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000000;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 999;
  }

  button:hover {
    background-color: #333333;
  }

  /* Estilos para el contenido de la página */
  body {
    margin-top: 1%;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: animateBackground 5s linear infinite;
    background-image: linear-gradient(to bottom, #5b5b5b, #ebebeb);
  }
  
  @keyframes animateBackground {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 0% 100%;
    }
  }

  .img {
    text-align: center;
    margin-top: 0%;
  }

  .content {
    margin: 200px auto;
    margin-top: 0%;
    width: 50%;
    max-width: 1200px;
    text-align: justify;
    font-family: principal;
  }
  .Center {
    margin: 20px auto;
    margin-top: 0%;
    width: 80%;
    max-width: 1200px;
    text-align: center;
    font-family: principal;
}
  
  /* Estilos para el footer */
  footer {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 5%;
    text-align: center;
    font-family: principal;
  }
  